<!-- login.html is an index page -->

<!-- Embed the head.html here -->
{{ template "header.html" .}}

<!-- Content Start -->
{{$currentUserID := .userID}}
{{$page := .page}}
{{$articles := $page.Articles}}

<div class="pure-group">
    <h1>歡迎回來使用者"{{.username}}"</h1>
    <!-- 點擊顯示新文章區塊的按鈕 -->
    <button id="showCreatePaneButton" class="pure-button-active" onclick="showCreatePane()">新文章</button>
    <!-- 新文章的編輯區塊，平時隱藏起來 -->
    {{template "articleCreate"}}    
</div>
<ul>
    {{range $articles}}                 
    
    <li><div>標題:{{.Title}}</div>
        {{if .Username }}
        <div>作者:{{.Username}}</div>
        {{ else}}
        <div> <strike>作者已被刪除</strike></div>
        {{end}}
        <div>時間:{{.EditTime}}</div>
        <p class="pure.pure-form-stacked">
            {{ .Content}}
        </p>
        
        {{if eq .UserID $currentUserID}}
            <!-- 編輯文章區塊 -->
            {{template "articleEdit" .}}
            <!-- 刪除文章區塊 -->
            <!-- 點擊顯示刪除dialog按鈕 -->
            <button class="pure.pure-button" onclick="showDeleteDialog('{{ .ArticleID}}')">刪除</button>
            <dialog id="deleteDialog{{.ArticleID}}">
                <form method="dialog">
                    是否刪除Dialog?
                    <button onclick="deleteArticle('{{.ArticleID}}')">刪除</button>
                </form>
                
              </dialog>
              
        {{end}}

    </li>
    {{end}}
</ul>
<!-- 底部文章頁面連結(導向不同頁數1.2.3.4...) -->
<div id="pageLink" class="pure.pure-menu">
    {{range $page.AnotherPageIndices}}
        <div class="pure.pure-menu-item">
            {{if ne . $page.CurrentIndex}}
            <a href="list?pageIndex={{.}}&pageSize={{$page.PageSize}}">{{.}}</a>
            {{else}}
            <a>{{.}}</a>
            {{end}}
        </div>
    {{end}}
</div>
<!-- JS -->
<script src="js/articleList.js" defer></script>

<!-- Embed the footer.html here -->
{{ template "footer.html" .}}