<!-- login.html is an index page -->

<!-- Embed the head.html here -->
{{ template "header.html" .}}

<!-- Content Start -->
{{$currentUserID := .userID}}

{{$page := .page}}
{{$articles := $page.Articles}}
<div class="pure-group">

    <h1>歡迎回來使用者"{{.username}}"</h1>
    <!-- 點擊顯示新文章區塊的按鈕 -->
    <button id="showCreatePaneButton" class="pure-button-active" onclick="showCreatePane()">新文章</button>
    <!-- 新文章的編輯區塊 -->
    <form hidden action="create/" method="POST" id="createArticlePane">
        <input name="title" type="text" placeholder="輸入標題">
        <input name="content" type="text" placeholder="寫點什麼吧~">
        <input class="pure-button" type="submit" value="建立">
    </form>
    
</div>
<ul>
    {{range $articles}}                 
    
    <li><div>標題:{{.Title}}</div>
        {{if .Username }}
        <div>作者:{{.Username}}</div>
        {{ else}}
        <div> <strike>作者已被刪除</strike></div>
        {{end}}
        <div>時間:{{.EditTime}}</div>
        <p class="pure.pure-form-stacked">
            {{ .Content}}
        </p>
        
        {{if eq .UserID $currentUserID}}
            <!-- 點擊顯示編輯區的按鈕 -->
            <button class="pure.pure-button" onclick="showEditPane('{{ .ArticleID}}')">編輯</button>
            <button class="pure.pure-button" onclick="deleteArticle('{{ .ArticleID}}')">刪除</button>

            <!-- 文章的編輯區 -->
            <form hidden class="pure.pure-button-hover" action="update?articleID={{.ArticleID}}" method="POST" id="edit{{.ArticleID}}">
                <input name="title" type="text" placeholder="輸入標題" value="{{.Title}}" >
                <input name="content" type="text" placeholder="寫點什麼吧~" value="{{.Content}}">
                <input class="pure-button" type="submit" value="儲存">
            </form>
            
        {{end}}

    </li>
    {{end}}
</ul>
<!-- 文章分頁(導向不同分頁的連結) -->
<div id="pageLink" class="pure.pure-menu">
    {{range $page.AnotherPageIndices}}
        <div class="pure.pure-menu-item">
            {{if ne . $page.CurrentIndex}}
            <a href="list?pageIndex={{.}}&pageSize={{$page.PageSize}}">{{.}}</a>
            {{else}}
            <a>{{.}}</a>
            {{end}}
        </div>
    {{end}}
</div>
<!-- JS函數 -->
<script defer>
    function showCreatePane() {
        var createPane = document.getElementById("createArticlePane")
        var btn = document.getElementById("showCreatePaneButton")
        if (createPane.hidden) {
            btn.innerText = "取消新文章"
        } else {
            btn.innerText = "新文章"
        }
        createPane.hidden = !createPane.hidden
    }
    function showEditPane(paneID) {
        var pane = document.getElementById('edit'+paneID)
        pane.hidden = !pane.hidden
    }

    function deleteArticle(articleID) {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/delete?articleID='+articleID);
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit();
    }
</script>

<!-- Embed the footer.html here -->
{{ template "footer.html" .}}