<!-- login.html is an index page -->

<!-- Embed the head.html here -->
{{ template "header.html" .}}

<!-- Content Start -->
{{$currentUserID := .userID}}
{{$page := .page}}
{{$articles := $page.Articles}}


<!-- 編輯新文章區塊 -->
{{template "articleCreate"}}    

<ul >
    {{range $articles}}                 
    
    <li>
        <form id="article{{.ArticleID}}" class="pure-form myForm" style="background-color: white;max-width: 80%;">

            <div class="">標題:<span>{{.Title}}</span></div>
            <div class="">
                作者
                {{if .Username }} 
                {{.Username}}
                {{ else}}
                <span><strike>作者已被刪除</strike> </span>
                {{end}}
            </div>
            <div class="">時間<span>{{.EditTime}}</span></div>
            <textarea style="color: aliceblue; background-color: black;" disabled name="content" cols="30" rows="3" placeholder="寫點什麼吧~">{{.Content}}</textarea>
        </form>
        
        {{if eq .UserID $currentUserID}}
            <!-- 編輯articleID文章區塊 -->
            {{template "articleEdit" .}}
            <!-- 刪除articleID文章區塊 -->
            {{template "articleDelete" .}}
        {{end}}

    </li>
    {{end}}
</ul>
<!-- 底部文章頁面連結(導向不同頁數1.2.3.4...) -->
<div id="pageLink" class="pure.pure-menu">
    {{range $page.AnotherPageIndices}}
        <div class="pure.pure-menu-item">
            {{if ne . $page.CurrentIndex}}
            <a href="list?pageIndex={{.}}&pageSize={{$page.PageSize}}">{{.}}</a>
            {{else}}
            <a>{{.}}</a>
            {{end}}
        </div>
    {{end}}
</div>
<!-- JS -->
<script src="js/articleList.js" defer></script>

<!-- Embed the footer.html here -->
{{ template "footer.html" .}}